.df {
  &__wrapper {
    width: 100%;
    background-color: $WHITE;
    padding: 0;
    margin: 0 auto;
  }
  &__hero {
    width: 100%;
    min-height: 600px;
    height: 65%;
    position: relative;
    overflow-x: hidden;

    &__content {
      height: 100%;
      padding-top: 12%;

      h2 {
        color: $GRAY_1;
        display: block;
        font-size: 36px;
        margin-bottom: 40px;

        @media (max-width: $XS_BREAKPOINT) {
          margin-top: 15vh;
          font-size: 28px;
        }
      }

      p {
        color: $GRAY_2;
        display: block;
        font-size: 18px;
        margin-bottom: 25px;

        @media (max-width: $XS_BREAKPOINT) {
          font-size: 16px;
        }
      }

      iframe {
        display: none;
      }
    }
  }
  &__blue-triangle {
    position: absolute;
    right: 0;
    height: 80%;

    @media (max-width: $SM_BREAKPOINT) {
      width: 60%;
      right: -10%;
      bottom: 5%;
      top: auto;
    }
  }
  &__yellow-oval {
    position: absolute;
    right: 25%;
    height: 25%;

    @media (max-width: $SM_BREAKPOINT) {
      height: 15%;
      right: 5%;
    }
  }
  &__interest-form {
    input {
      height: 50px;
      border-radius: $BUTTON_RADIUS;
      background-color: #ebebec;
      border: none;
    }
    button {
      height: 50px;
      border-radius: $BUTTON_RADIUS;
      background-color: $DARK_BLUE;

      &:hover, &:focus {
        background-color: $LIGHT_BLUE;
      }
    }
  }

  &__part1 {
    background: url('../images/part1-background.svg') no-repeat center center;
    background-size: cover;
    width: 90%;
    padding: 75px 0;
    color: $WHITE;

    h3 {
      font-size: 28px;
    }
    p {
      font-size: 20px;
      margin-left: 40px;
    }

    .underline {
      text-decoration: underline;
    }
  }

  &__speakers {
    padding-top: 75px;

    &__heading {
      margin-bottom: 35px;
    }

    &__card-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__card {
      height: 100%;
      width: 31%;
      max-width: 500px;
      padding: 20px;
      margin-bottom: 0px;
      margin-top: 5px;
      display: inline-block;
      box-sizing: border-box;
      background: url('../images/speakercard-bg.svg') no-repeat center center;
      background-size: cover;

      img {
        width: 90%;
        margin: 10px auto;
        display: block;
      }

      @media (max-width: $SM_BREAKPOINT) {
        width: 100%;
        margin: 10px 0;

        // Reset element specific margins
        &:nth-of-type(odd),  &:nth-of-type(even) {
          margin-left: 0;
          margin-right: 0;
        }
      }

      &-text {
        min-height: 150px;
        padding-top: 15px;

        h3 {
          height: 30%;
          width: 100%;
          font-size: 24px;
        }

        p {
          height: 30%;
          width: 100%;
          font-size: 18px;
        }
      }
    }
  }

  &__schedule {
    padding-top: 75px;

    &__card {
      padding: 25px;
      margin-bottom: 20px;
      color: $WHITE;
      display: flex;
      align-items: center;

      &:nth-of-type(odd) {
        background: url('../images/midblue-rectangle.svg') no-repeat center center;
        background-size: cover;
      }
      &:nth-of-type(even) {
        background: url('../images/darkblue-rectangle.svg') no-repeat center center;
        background-size: cover;
      }


      p {
        display: inline-block;
        width: 30%;
        margin: 0;
      }

      h3 {
        display: inline-block;
        width: 60%;
        margin: 0;
      }
    }
  }

  &__breakout {
    padding-top: 75px;
    width: 100%;

    &__card {
      background: url('../images/pink-breakout-session-bg.svg') no-repeat center center;
      background-size: cover;
      padding: 40px;
      color: $WHITE;
      margin-bottom: 20px;

      h3 {
        font-size: 28px;
        margin-top: 0;
        width: 60%;

        @media (max-width: $SM_BREAKPOINT) {
          width: 100%;
        }
      }
      p {
        font-size: 20px;
        margin-left: 40px;
        width: 60%;

        @media (max-width: $XS_BREAKPOINT) {
          width: 90%;
          margin-left: 5px;
        }
      }
    }
  }

  &__faq {
    margin-bottom: 55px;

    &__card {
      padding: 25px;
      margin-bottom: 20px;
      color: $WHITE;
      display: flex;
      align-items: center;

      &:nth-of-type(odd) {
        background: url('../images/midblue-rectangle.svg') no-repeat center center;
        background-size: cover;
      }
      &:nth-of-type(even) {
        background: url('../images/darkblue-rectangle.svg') no-repeat center center;
        background-size: cover;
      }


      p {
        display: inline-block;
        margin: 0;
      }
    }
  }

  &__bottom {
    position: relative;
    padding: 0;
    padding-bottom: 100px;

    iframe {
      display: none;
    }
  }

  &__pink-oval {
    position: absolute;
    top: 0;
    left: -5%;
    width: 10%;
  }

  &__yellow-triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
  }
}
